{
    "openapi": "3.0.0",
    "info": {
        "title": "NeuralNexus API",
        "description": "API for NeuralNexus site and services",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.neuralnexus.dev/api/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "summary": "Login to the API",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Login"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/Login"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/Login"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "summary": "Logout of the API",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/bee-name-generator/name": {
            "get": {
                "summary": "Get a random bee name",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BNGNameResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/bee-name-generator/name/{name}": {
            "post": {
                "summary": "Upload a bee name",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BNGNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BNGNameResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a specific bee name",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BNGNameSlug"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/bee-name-generator/suggestion/{amount}": {
            "get": {
                "summary": "Get bee name suggestions",
                "description": "Requires the admin:bee-name-generator scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BeeSuggestionAmountSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BNGSuggestions"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/bee-name-generator/suggestion/{name}": {
            "post": {
                "summary": "Suggest a bee name",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BeeSuggestionNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BNGNameResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "put": {
                "summary": "Accept a bee name suggestion",
                "description": "Requires the admin:bee-name-generator scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BeeSuggestionNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BNGNameResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "delete": {
                "summary": "Reject a bee name suggestion",
                "description": "Requires the admin:bee-name-generator scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BeeSuggestionNameSlug"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/datastore": {
            "post": {
                "summary": "Create a data store",
                "description": "Requires the admin:datastore scope. The store is created for the caller; no request body is read.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataStore"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "get": {
                "summary": "Read a data store",
                "description": "Identifies the store via the request body rather than a path or query parameter.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DataStore"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/DataStore"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/DataStore"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataStore"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "put": {
                "summary": "Update a data store",
                "description": "Requires the admin:datastore scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DataStore"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/DataStore"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/DataStore"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataStore"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a data store",
                "description": "Requires the admin:datastore scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DataStore"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/DataStore"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/DataStore"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/datastore/number": {
            "post": {
                "summary": "Create a number record",
                "description": "Requires the admin:numberstore scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NumberData"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "get": {
                "summary": "Read a number record",
                "description": "Identifies the record via the request body rather than a path or query parameter.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NumberData"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "put": {
                "summary": "Update a number record",
                "description": "Requires the admin:numberstore scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NumberData"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a number record",
                "description": "Requires a valid session, but \u2014 unlike create/update \u2014 the handler does not check the admin:numberstore scope; any authenticated user can delete any record.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/NumberData"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NumberData"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/game-server-status/simple/{game}": {
            "get": {
                "summary": "Get game server simple status",
                "description": "Get game server simple status",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/GameSlug"
                    },
                    {
                        "$ref": "#/components/parameters/GameHostQuery"
                    },
                    {
                        "$ref": "#/components/parameters/GamePortQuery"
                    },
                    {
                        "$ref": "#/components/parameters/GameQueryTypeQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SimpleOnlineResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/SimpleOfflineResponse"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    }
                }
            }
        },
        "/game-server-status/{game}": {
            "get": {
                "summary": "Get game server status",
                "description": "Get game server status",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/GameSlug"
                    },
                    {
                        "$ref": "#/components/parameters/GameHostQuery"
                    },
                    {
                        "$ref": "#/components/parameters/GamePortQuery"
                    },
                    {
                        "$ref": "#/components/parameters/GameRawQuery"
                    },
                    {
                        "$ref": "#/components/parameters/GameQueryTypeQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GameServerStatus"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/GameServerStatus"
                                }
                            },
                            "application/x-protobuf": {
                                "schema": {
                                    "$ref": "#/components/schemas/GameServerStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/502BadGateway"
                    }
                }
            }
        },
        "/health": {
            "get": {
                "summary": "Health check",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "OK"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    }
                }
            }
        },
        "/mc/geyser/skin/{xuid}": {
            "get": {
                "summary": "Get a Bedrock player's most recently converted skin by XUID",
                "description": "Looks up a Bedrock player's most recently converted skin, DB-cache-first (24h staleness) with a fallback to Geyser's skin API on a miss or stale entry. Returns 204 (not 404) when the player has no converted skin yet, matching Geyser's own API (200 with an empty object) rather than treating it as a client error.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XUIDSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeyserSkin"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mc/geyser/xuid/{gamertag}": {
            "get": {
                "summary": "Look up a Bedrock player's XUID and derived UUID by gamertag",
                "description": "Looks up a gamertag's Xbox XUID, DB-cache-first (24h staleness) with a fallback to Geyser's Xbox XUID lookup API on a miss or stale entry. The UUID is synthesized from the XUID's hex representation (left-padded to 32 hex digits and formatted as a standard UUID) and is never stored; it is not a real Mojang UUID, since Bedrock players have no Mojang profile.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/GamertagSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeyserPlayer"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mc/mojang/lookup/bulk/byname": {
            "post": {
                "summary": "Look up players by name in batch",
                "description": "Body must be a JSON array of 1 to 10 non-empty names; Content-Type must be application/json.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                },
                                "minItems": 1,
                                "maxItems": 10
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MCPlayer"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "415": {
                        "$ref": "#/components/responses/415UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mc/mojang/lookup/name/{name}": {
            "get": {
                "summary": "Look up a player by name",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MCNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCPlayer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mc/mojang/lookup/{uuid}": {
            "get": {
                "summary": "Look up a player by UUID",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MCUUIDSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCPlayer"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mc/mojang/profile/{uuid}": {
            "get": {
                "summary": "Get a player's full profile from Mojang",
                "description": "Mirrors the Mojang API. Returns 204 (not 404) when the profile can't be found.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MCUUIDSlug"
                    },
                    {
                        "$ref": "#/components/parameters/UnsignedQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCPlayer"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mc/profile/bedrock/name/{name}": {
            "get": {
                "summary": "Get a Bedrock player's full profile (identity + skin) by gamertag",
                "description": "Looks up a Bedrock player by Xbox gamertag.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BedrockGamertagNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeyserProfile"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mc/profile/bedrock/{uuid}": {
            "get": {
                "summary": "Get a Bedrock player's full profile (identity + skin) by derived UUID",
                "description": "Looks up a Bedrock player by their synthetic UUID, derived from an Xbox XUID (see GeyserPlayer.uuid). Returns 400 if the UUID isn't a validly-derived Bedrock UUID.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BedrockUUIDSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeyserProfile"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mc/profile/name/{name}": {
            "get": {
                "summary": "Get a player's full profile by name",
                "description": "Resolves the name to a UUID via Mojang, then returns the decoded profile. Returns 204 (not 404) when the profile can't be found.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MCNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCProfile"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mc/profile/{uuid}": {
            "get": {
                "summary": "Get a player's full profile",
                "description": "Returns 204 (not 404) when the profile can't be found.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MCUUIDSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCProfile"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mc/texture/geyser/{hash}": {
            "get": {
                "summary": "Get a Bedrock skin's raw image bytes",
                "description": "Fetches from the URL embedded in the skin's Value on first request and archives to S3; served straight from S3/CDN thereafter.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MCHashSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "image/png": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "502": {
                        "$ref": "#/components/responses/502BadGateway"
                    }
                }
            }
        },
        "/mc/texture/{hash}": {
            "get": {
                "summary": "Get a texture's raw image bytes",
                "description": "Fetches from Mojang on first request and archives to S3; served straight from S3/CDN thereafter.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MCHashSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "image/png": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "502": {
                        "$ref": "#/components/responses/502BadGateway"
                    }
                }
            }
        },
        "/mcstatus/icon/{host}": {
            "get": {
                "summary": "Get Minecraft server icon",
                "description": "Returns a PNG. Which image you get depends on the server:\n- The server's own icon, when it reports one.\n- default.png, when a Java server reports no icon.\n- legacy.png, when a Java server only answers a pre-1.7 status ping, which carries no icon.\n- bedrock.png, for bedrock=true. Bedrock servers have no icon, so the server is not contacted.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/HostSlug"
                    },
                    {
                        "$ref": "#/components/parameters/MCStatusBedrockQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "image/png": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mcstatus/simple/{host}": {
            "get": {
                "summary": "Get Minecraft server simple status",
                "description": "Get Minecraft server simple status",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/HostSlug"
                    },
                    {
                        "$ref": "#/components/parameters/MCStatusBedrockQuery"
                    },
                    {
                        "$ref": "#/components/parameters/MCStatusQueryQuery"
                    },
                    {
                        "$ref": "#/components/parameters/MCStatusQueryPortQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SimpleOnlineResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/SimpleOfflineResponse"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    }
                }
            }
        },
        "/mcstatus/{host}": {
            "get": {
                "summary": "Get Minecraft server status",
                "description": "Get Minecraft server status",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/HostSlug"
                    },
                    {
                        "$ref": "#/components/parameters/MCStatusBedrockQuery"
                    },
                    {
                        "$ref": "#/components/parameters/MCStatusQueryQuery"
                    },
                    {
                        "$ref": "#/components/parameters/MCStatusQueryPortQuery"
                    },
                    {
                        "$ref": "#/components/parameters/GameRawQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCServerStatus"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCServerStatus"
                                }
                            },
                            "application/x-protobuf": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCServerStatus"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/pet-pictures/pets": {
            "post": {
                "summary": "Create a pet",
                "description": "Requires the admin:pet-pictures scope. The pet name comes from the request body when no {name} path segment is used.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pet"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "get": {
                "summary": "Get a pet",
                "description": "The pet ID comes from the request body when no {id} path segment is used.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pet"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "put": {
                "summary": "Update a pet",
                "description": "Requires the pet-pictures scope for this pet's name.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pet"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/pet-pictures/pets/{id}": {
            "get": {
                "summary": "Get a pet by ID",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PetIdSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pet"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/pet-pictures/pets/{name}": {
            "post": {
                "summary": "Create a pet",
                "description": "Requires the admin:pet-pictures scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/MCNameSlug"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pet"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/pet-pictures/pictures": {
            "get": {
                "summary": "Get a pet picture",
                "description": "The picture ID comes from the request body when no {id} path segment is used.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PetPicture"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/PetPicture"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/PetPicture"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PetPicture"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "put": {
                "summary": "Update a pet picture",
                "description": "Requires the pet-pictures scope for the picture's primary subject's pet name.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PetPicture"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/PetPicture"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/PetPicture"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PetPicture"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a pet picture",
                "description": "Requires the pet-pictures scope for the picture's primary subject's pet name. The picture ID comes from the request body when no {id} path segment is used.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PetPicture"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/PetPicture"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/PetPicture"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/pet-pictures/pictures/random": {
            "get": {
                "summary": "Get a random picture of a named pet",
                "description": "The pet name comes from the request body (this route has no {name} path segment).",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PetPicture"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "description": "No pet with that name exists, or the pet has no pictures",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            },
                            "application/problem+xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            },
                            "application/problem+x-protobuf": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/pet-pictures/pictures/{id}": {
            "get": {
                "summary": "Get a pet picture by ID",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PetPictureIdSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PetPicture"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a pet picture",
                "description": "Requires the pet-pictures scope for the picture's primary subject's pet name.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PetPictureIdSlug"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/projects/releases/{group}/{project}": {
            "get": {
                "summary": "Get a GitHub repo's releases",
                "description": "Proxies the GitHub releases API. With format=fml, reshapes the response into Forge Mod Loader update-JSON format instead.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/GroupSlug"
                    },
                    {
                        "$ref": "#/components/parameters/ProjectSlug"
                    },
                    {
                        "$ref": "#/components/parameters/FormatQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Release"
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "description": "Forge Mod Loader update-JSON format (format=fml)."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teapot": {
            "get": {
                "summary": "I'm a teapot",
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "418": {
                        "description": "I'm a teapot",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    }
                }
            }
        },
        "/users/me": {
            "get": {
                "summary": "Get the caller's own account",
                "description": "Requires a valid session. Always resolves to the caller's own account - equivalent to GET /users/{user_id} with the caller's own ID.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/users/me/link/{platform}": {
            "delete": {
                "summary": "Unlink a platform from the caller's own account",
                "description": "Requires a valid session. Always operates on the caller's own account. Refused with 400 if this is the account's last usable login method (no password and no other verified, login-enabled linked platform).",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PlatformSlug"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "patch": {
                "summary": "Enable or disable a linked platform for login on the caller's own account",
                "description": "Requires a valid session. Always operates on the caller's own account. Disabling is refused with 400 under the same last-usable-login-method guard as DELETE on this resource. Enabling is refused with 400 if the linked account isn't verified.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PlatformSlug"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "login_enabled"
                                ],
                                "properties": {
                                    "login_enabled": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/users/me/links": {
            "get": {
                "summary": "List the caller's own linked platforms",
                "description": "Requires a valid session. Always resolves to the caller's own linked accounts.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LinkedAccount"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/users/me/permissions": {
            "get": {
                "summary": "Get the caller's own permissions",
                "description": "Requires a valid session. Always resolves to the caller's own permissions.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/users/me/settings": {
            "get": {
                "summary": "Get the caller's own account settings",
                "description": "Requires a valid session. Always resolves to the caller's own settings.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountSettings"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "patch": {
                "summary": "Update the caller's own account settings",
                "description": "Requires a valid session. Always operates on the caller's own account. Disabling password login is refused with 400 unless another verified, login-enabled platform is linked; enabling it is refused with 400 if no password is set.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAccountSettingsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/users/{platform}/{platform_id}": {
            "get": {
                "summary": "Get a user by their linked-platform identity",
                "description": "Requires the admin:users scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PlatformSlug"
                    },
                    {
                        "$ref": "#/components/parameters/PlatformIdSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "put": {
                "summary": "Update a user's linked-platform data",
                "description": "Requires the admin:users scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PlatformSlug"
                    },
                    {
                        "$ref": "#/components/parameters/PlatformIdSlug"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlatformData"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/PlatformData"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/PlatformData"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/409Conflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/users/{user_id}": {
            "get": {
                "summary": "Get a user by ID",
                "description": "Requires a valid session; any authenticated user may look up any other user by ID.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/UserIdSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "put": {
                "summary": "Update a user",
                "description": "Requires the admin:users scope.",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/UserIdSlug"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Account"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/Account"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/Account"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/409Conflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/429TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/users/{user_id}/link/{platform}": {
            "delete": {
                "summary": "Unlink a platform from a user",
                "description": "Requires the admin:users scope, unless the caller is unlinking their own account. Refused with 400 if this is the account's last usable login method (no password and no other verified, login-enabled linked platform).",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/UserIdSlug"
                    },
                    {
                        "$ref": "#/components/parameters/PlatformSlug"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204NoContent"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/403Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    },
                    "429": {
[...]
