{
    "openapi": "3.0.0",
    "info": {
        "title": "NeuralNexus API",
        "description": "API for NeuralNexus site and services",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.neuralnexus.dev/api/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "summary": "Login to the API",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Login"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/Login"
                            }
                        },
                        "application/x-protobuf": {
                            "schema": {
                                "$ref": "#/components/schemas/Login"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/AuthSessionResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "summary": "Logout of the API",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/AuthSessionResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            }
        },
        "/bee-name-generator/name": {
            "get": {
                "summary": "Get a random bee name",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BNGNameResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/bee-name-generator/name/{name}": {
            "post": {
                "summary": "Get a specific bee name",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BNGNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BNGNameResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a specific bee name",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BNGNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BNGNameResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/bee-name-generator/suggestion/{param}": {
            "get": {
                "summary": "Get bee name suggestions",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "amount",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bee name suggestions response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "application/x-protobuf": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "post": {
                "summary": "Suggest a bee name",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BNGNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BNGNameResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "put": {
                "summary": "Accept a bee name suggestion",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BNGNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BNGNameResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            },
            "delete": {
                "summary": "Reject a bee name suggestion",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BNGNameSlug"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/BNGNameResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/500InternalServerError"
                    }
                }
            }
        },
        "/mcstatus/{address}": {
            "get": {
                "summary": "Get Minecraft server status",
                "description": "Get Minecraft server status",
                "parameters": [
                    {
                        "name": "host",
                        "in": "path",
                        "description": "Minecraft server address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bedrock",
                        "in": "query",
                        "description": "Is the server bedrock edition",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Is query enabled on the server",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "query_port",
                        "in": "query",
                        "description": "Minecraft server query port",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "raw",
                        "in": "query",
                        "description": "Return raw server status",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCServerStatus"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCServerStatus"
                                }
                            },
                            "application/x-protobuf": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCServerStatus"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found, returns generic offline server status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": {
                                        "type": "object",
                                        "required": [
                                            "name",
                                            "favicon"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            },
                                            "map": {
                                                "type": "string"
                                            },
                                            "maxplayers": {
                                                "type": "integer"
                                            },
                                            "players": {
                                                "type": "integer"
                                            },
                                            "connect": {
                                                "type": "string"
                                            },
                                            "version": {
                                                "type": "string"
                                            },
                                            "favicon": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mcstatus/icon/{address}": {
            "get": {
                "summary": "Get Minecraft server icon",
                "description": "Get Minecraft server icon",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Minecraft server address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "image/png": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/404NotFound"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Problem": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "status": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "string"
                    },
                    "detail": {
                        "type": "string"
                    },
                    "instance": {
                        "type": "string"
                    }
                }
            },
            "AuthSession": {
                "type": "object",
                "properties": {
                    "session_id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "iat": {
                        "type": "integer"
                    },
                    "lua": {
                        "type": "integer"
                    },
                    "exp": {
                        "type": "integer"
                    }
                }
            },
            "Login": {
                "type": "object",
                "required": [
                    "password"
                ],
                "properties": {
                    "username": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    }
                }
            },
            "BNGName": {
                "type": "object",
                "required": [
                    "name"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    }
                }
            },
            "MCServerStatus": {
                "type": "object",
                "required": [
                    "host",
                    "port",
                    "name",
                    "motd",
                    "map",
                    "max_players",
                    "num_players",
                    "version",
                    "favicon",
                    "server_type"
                ],
                "properties": {
                    "host": {
                        "type": "string"
                    },
                    "port": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "motd": {
                        "type": "string"
                    },
                    "map": {
                        "type": "string"
                    },
                    "max_players": {
                        "type": "integer"
                    },
                    "num_players": {
                        "type": "integer"
                    },
                    "players": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "uuid": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "version": {
                        "type": "string"
                    },
                    "favicon": {
                        "type": "string"
                    },
                    "server_type": {
                        "type": "string",
                        "enum": [
                            "java",
                            "bedrock"
                        ]
                    }
                }
            }
        },
        "parameters": {
            "BNGNameSlug": {
                "name": "name",
                "in": "path",
                "required": true,
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "token"
            }
        },
        "requestBodies": {},
        "responses": {
            "400BadRequest": {
                "description": "Bad request",
                "content": {
                    "application/problem+json": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    },
                    "application/problem+xml": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    },
                    "application/problem+x-protobuf": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    }
                }
            },
            "401Unauthorized": {
                "description": "Unauthorized",
                "content": {
                    "application/problem+json": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    },
                    "application/problem+xml": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    },
                    "application/problem+x-protobuf": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    }
                }
            },
            "500InternalServerError": {
                "description": "Internal server error",
                "content": {
                    "application/problem+json": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    },
                    "application/problem+xml": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    },
                    "application/problem+x-protobuf": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    }
                }
            },
            "AuthSessionResponse": {
                "description": "Session response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/AuthSession"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "$ref": "#/components/schemas/AuthSession"
                        }
                    },
                    "application/x-protobuf": {
                        "schema": {
                            "$ref": "#/components/schemas/AuthSession"
                        }
                    }
                }
            },
            "BNGNameResponse": {
                "description": "Bee name response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/BNGName"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "$ref": "#/components/schemas/BNGName"
                        }
                    },
                    "application/x-protobuf": {
                        "schema": {
                            "$ref": "#/components/schemas/BNGName"
                        }
                    }
                }
            }
        }
    }
}