<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NeuralNexus.dev</title>

        <style>
            body {
                font-family: sans-serif;
                font-size: 1.2em;
            }
        </style>
    </head>

    <body>
        <h1>Quick Rundown:</h1>
        <p>{{SERVER_URL}}/your.server.ip</p>
        <p>{{SERVER_URL}}/your.server.ip?port=25566</p>
        <p>{{SERVER_URL}}/your.server.ip?port=25566&query=25666</p>
        <p>{{SERVER_URL}}/your.server.ip?port=19177&is_bedrock=true</p>
        <p>{{SERVER_URL}}/your.server.ip?port=25566&enable_query=false</p>
        <p>{{SERVER_URL}}/icon/your.server.ip</p>
        <p>{{SERVER_URL}}/icon/your.server.ip?port=25566</p>
        <p>{{SERVER_URL}}/icon/your.server.ip?port=19177&is_bedrock=true</p>
    </body>
</html>
